[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
gunicorn = "*"
uvicorn = "*"
python-decouple = "*"
google-auth = "*"
google-cloud-secret-manager = "*"
gcloud-secret-configure = "*"

[dev-packages]
black = "*"
pytest = "*"
httpx = "*"
mypy = "*"

[requires]
python_version = "3.10"

[scripts]
auth = "gcloud config set project emata-demo"
start = "bash -c 'uvicorn src.main:app --reload'"
black = "black src/"
test = "pytest ."
build = "docker build -f Dockerfile -t serverless-py ."
build-emp = "docker build -f Dockerfile.empty -t empty-py ."
run = "docker run -p 8000:8000 --rm --name serverless-py-con -it serverless-py"
run-stage = "docker run -e MODE=stage -p 8000:8000 --rm --name serverless-py-con -it serverless-py"
run-prod = "docker run -e PORT=8001 -e MODE=prod --env-file .env-prod -p 8000:8001 --rm --name serverless-py-con -it serverless-py"
run-emp = "docker run -p 1234:8000 --rm --name empty_py -it empty-py"
shell = "docker exec -it serverless-py-con bash"
shell-emp = "docker exec -it empty_py bash"
clear = "docker image prune -a --filter 'until=24h'"
conf = "bash -c 'gcloud auth configure-docker us-central1-docker.pkg.dev & gcloud artifacts repositories create serverless-py-repo --repository-format=docker --location=us-central1'"
push = "bash -c 'docker build --platform=linux/amd64 -f Dockerfile -t serverless-py-amd64 . && docker tag serverless-py-amd64 us-central1-docker.pkg.dev/emata-demo/serverless-py-repo/serverless-py:latest && docker push us-central1-docker.pkg.dev/emata-demo/serverless-py-repo/serverless-py --all-tags'"
deploy = "gcloud run deploy serverless-py-run --image us-central1-docker.pkg.dev/emata-demo/serverless-py-repo/serverless-py:latest --allow-unauthenticated --region=us-central1 --project=emata-demo"
update_prod_secrets = "gcloud secrets versions add py_env_file --data-file .env-prod"
cloud_run_perms = "bash -c 'gcloud secrets add-iam-policy-binding py_env_file --member=serviceAccount:614915725286-compute@developer.gserviceaccount.com --role=roles/secretmanager.secretAccessor'"
cloud_run_perms_remove = "bash -c 'gcloud secrets remove-iam-policy-binding py_env_file --member=serviceAccount:614915725286-compute@developer.gserviceaccount.com --role=roles/secretmanager.secretAccessor'"
