name: Test, Build, Push to Google Cloud Run


on:
  workflow_dispatch:
  push:
    branches:
      - 'main'
      - 'fixYaml'

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - name: Install requirements
        run: |
          pip install pipenv
          pipenv install --system --dev
      - name: Run tests
        env:
          MODE: 'github actions'
        run: |
          pipenv run pytest
  build_deploy:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      # https://github.com/docker/setup-buildx-action
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Build container image
        run: |
          docker build --platform=linux/amd64 -f Dockerfile -t serverless-py .
          docker tag serverless-py-amd64 us-central1-docker.pkg.dev/emata-demo/serverless-py-repo/serverless-py:latest
          docker push us-central1-docker.pkg.dev/emata-demo/serverless-py-repo/serverless-py --all-tags
          gcloud run deploy serverless-py-run --image us-central1-docker.pkg.dev/emata-demo/serverless-py-repo/serverless-py:latest --allow-unauthenticated --region=us-central1 --project=emata-demo
        # gcloud auth configure-docker us-central1-docker.pkg.dev
        # gcloud artifacts repositories create serverless-py-repo --repository-format=docker --location=us-central1'"
